/* reset */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* root */
:root {
  --color-black: hsl(230, 33%, 7%);
  --color-white: hsl(0, 0%, 100%);
  --color-purple-light: hsl(231, 77%, 90%);

  --font-family-bellefair: 'Bellefair', serif;
  --font-family-barlow: 'Barlow', sans-serif;
  --font-family-barlow-condensed: 'Barlow Condensed', sans-serif;
}

body {
  font-family: 'Barlow';
  display: grid;
}

.wrapper {
  background-image: var(
    --bgi-wrapper,
    url(../assets/home/background-home-mobile.jpg)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

/* start hero */
.hero {
  margin-bottom: 48px;
  text-align: center;
  margin-top: 48px;
}

.hero__content {
  margin-bottom: 81px;
}

.hero__subtitle {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Barlow Condensed';
  color: hsl(231, 77%, 90%);
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.hero__title {
  font-family: 'Bellefair';
  font-weight: 400;
  font-size: 80px;
  line-height: 100px;
  color: var(--color-white);
  margin-bottom: 16px;
}

.hero__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #d0d6f9;
  max-width: 444px;
  display: inline-block;
  width: calc(100% - 48px);
}

.hero__cta {
  height: 150px;
  width: 150px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.hero__cta:before {
  content: '';
  background-color: hsl(0 0% 100% / 10%);
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transition: transform ease-in-out 0.25s;
}

.hero__cta:hover:before,
.hero__cta:focus:before {
  transform: scale(1.5);
}

.hero__button {
  font-family: 'Bellefair';
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0b0d17;
  height: 150px;
  width: 150px;
  background-color: var(--color-white);
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
}
/* end hero */

/* start media queries */
@media screen and (min-width: 376px) {
  .wrapper {
    --bgi-wrapper: url(../assets/home/background-home-tablet.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    margin-top: 130px;
  }

  .hero__content {
    margin-bottom: 151px;
  }
  .hero__subtitle {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .hero__title {
    font-size: 150px;
    margin-bottom: 24px;
  }

  .hero__description {
    font-size: 16px;
    line-height: 28px;
  }
  .hero__cta {
    height: 242px;
    width: 242px;
  }
  .hero__button {
    width: 242px;
    height: 242px;
    font-size: 32px;
  }
}

/* desktop */
@media screen and (min-width: 980px) {
  .wrapper {
    --bgi-wrapper: url(../assets/home/background-home-desktop.jpg);
  }
  .menu {
    margin-left: 123px;
    margin-right: 165px;
  }
  .menu__link {
    font-size: 16px;
    display: grid;
  }
  .menu__link--number {
    display: unset;
  }

  .hero__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-inline: 10vw;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 20px;

    margin-bottom: 0;
  }
  .hero__content > * {
    text-align: left;
  }
}

/* end media queries */
