/* reset */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* root */
:root {
  --color-black: hsl(230, 33%, 7%);
  --color-white: hsl(0, 0%, 100%);
  --color-purple-light: hsl(231, 77%, 90%);

  --font-family-bellefair: 'Bellefair', serif;
  --font-family-barlow: 'Barlow', sans-serif;
  --font-family-barlow-condensed: 'Barlow Condensed', sans-serif;
}

body {
  font-family: 'Barlow';
  display: grid;
}

.wrapper {
  background-image: var(
    --bgi-wrapper,
    url(../assets/home/background-home-mobile.jpg)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

/* start header */
.header {
  margin-top: var(--mt-header, 24px);
}

.header__container {
  width: calc(100% - var(--w-header-container, 48px));
  margin-left: var(--ml-header-container, auto);
  margin-right: var(--mr-header-container, auto);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  position: absolute;
  width: 100%;
  max-width: 250px;
  height: 100%;
  top: var(--top, -100%);
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  z-index: 3;
}

.header__nav--hidden {
  --top: 0;
}

.menu {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 32px;
  margin-top: 118px;
}

.menu__link {
  color: var(--color-white);
  font-family: var(--font-family-barlow-condensed);
  font-size: 16px;
  letter-spacing: 2.7px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  display: grid;
  grid-template-columns: 18px auto;
  gap: 11px;
}

.menu__link--number {
  font-weight: 700;
}

.header__button {
  cursor: pointer;
  width: 24px;
  height: 21px;
  background-image: var(--bgi-button, url(../assets/shared/icon-hamburger.svg));
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 3;
}

.header__button--close {
  --bgi-button: url(../assets/shared/icon-close.svg);
}

/* end header */

/* start hero */
.hero {
  margin-bottom: 48px;
  text-align: center;
  margin-top: 48px;
}

.hero__content {
  margin-bottom: 81px;
}

.hero__subtitle {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Barlow Condensed';
  color: hsl(231, 77%, 90%);
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.hero__title {
  font-family: 'Bellefair';
  font-weight: 400;
  font-size: 80px;
  line-height: 100px;
  color: var(--color-white);
  margin-bottom: 16px;
}

.hero__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #d0d6f9;
  max-width: 444px;
  display: inline-block;
  width: calc(100% - 48px);
}

.hero__cta {
  height: 150px;
  width: 150px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.hero__cta:before {
  content: '';
  background-color: hsl(0 0% 100% / 10%);
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transition: transform ease-in-out 0.25s;
}

.hero__cta:hover:before,
.hero__cta:focus:before {
  transform: scale(1.5);
}

.hero__button {
  font-family: 'Bellefair';
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0b0d17;
  height: 150px;
  width: 150px;
  background-color: var(--color-white);
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
}
/* end hero */

/* start media queries */
@media screen and (min-width: 376px) {
  .wrapper {
    --bgi-wrapper: url(../assets/home/background-home-tablet.jpg);
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    --w-header-container: 38px;
    --ml-header-container: auto;
    --mr-header-container: 0;
  }

  .header__logo {
    width: 48px;
    height: 48px;
  }

  .header__logo img {
    width: 100%;
    height: 100%;
  }

  .header__nav {
    --top: 0;
    height: 96px;
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    display: flex;
  }

  .menu {
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 0;
    gap: 0;
    align-items: center;
    width: 100%;
  }

  .menu__item {
    position: relative;
  }

  .menu__item::before {
    position: absolute;
    content: '';
    height: 3px;
    width: auto;
    bottom: -38px;
    background-color: var(--bgc-item);
    left: 0;
    right: 0;
  }

  .menu__item:hover::before {
    --bgc-item: var(--color-white);
  }

  .menu__item--active::before {
    --bgc-item: var(--color-white);
  }

  .menu__link {
    font-size: 14px;
    display: inline-block;
  }

  .menu__link--number {
    display: none;
  }

  .header__button {
    display: none;
  }

  .hero {
    margin-top: 130px;
  }
  .hero__content {
    margin-bottom: 151px;
  }
  .hero__subtitle {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .hero__title {
    font-size: 150px;
    margin-bottom: 24px;
  }

  .hero__description {
    font-size: 16px;
    line-height: 28px;
  }
  .hero__cta {
    height: 242px;
    width: 242px;
  }
  .hero__button {
    width: 242px;
    height: 242px;
    font-size: 32px;
  }
}

/* desktop */
@media screen and (min-width: 980px) {
  .wrapper {
    --bgi-wrapper: url(../assets/home/background-home-desktop.jpg);
  }
}

@media screen and (min-width: 980px) {
  .header {
    --mt-header: 64px;
  }

  .header__nav {
    --top: 40px;
    max-width: 830px;
  }
  .menu {
    margin-left: 123px;
    margin-right: 165px;
  }
  .menu__link {
    font-size: 16px;
    display: grid;
  }
  .menu__link--number {
    display: unset;
  }
}

/* end media queries */
